.navbar{
position: fixed;
top: 0;
left: 0;
bottom: 0;
width: 20vw;
background-color: #191919;
h1{
    color: white;
    text-align: center;
}
.navlink{
    text-decoration: none !important;
    color: white;
}

.nav_active{
    color: red !important;
    // background-color: red !important;
    text-decoration: none !important;
}

ul{
    padding: 10px;}
    li{
        transition: all 0.5s;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
           
        }
        &:hover{
            background-color: grey;
        }
    }
}

