.navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20vw;
  background-color: #191919;
}
.navbar h1 {
  color: white;
  text-align: center;
}
.navbar .navlink {
  text-decoration: none !important;
  color: white;
}
.navbar ul {
  padding: 10px;
}
.navbar li {
  transition: all 0.5s;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.navbar li a {
  text-decoration: none;
  color: white;
}
.navbar li:hover {
  background-color: grey;
}/*# sourceMappingURL=navbar.module.css.map */