.button{
padding: 7px 15px;
border-radius: 5px;
color: white;
border: none;
background-color: grey;
}
.primary{
    background-color: rgb(69, 69, 172);
&:hover{
    background-color: rgb(38, 38, 140);
}
}
.danger{
    background-color: rgb(172, 69, 69);
&:hover{
    background-color: rgb(198, 20, 20);
}
}