.body {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 100vw;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.281);
}

.modal {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
  z-index: 5 !important;
  box-shadow: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.deleteModal {
  position: fixed;
  top: 30%;
  left: 45%;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
  z-index: 5 !important;
  box-shadow: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}/*# sourceMappingURL=modal.module.css.map */