.form{
    width: 30%;
    margin-left: 35%;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}
.field{
    width: 50%;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
}
.error{
    height: 10px;
    div{
        color: red;
    }
}
.btn{
    padding: 10px 40px;
    border-radius: 5px;
    background-color: rgb(76, 76, 205);
    border: none;
    color: white;
    &:hover{
        background-color: rgb(52, 52, 209) ;
    }
}